* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    background-color: hsl(210, 46%, 95%);
}


/** General adjusments  **/
main {
    width: 90rem;
    height: 35.6rem;
    font-size: 0.8rem;
    font-family: 'Barlow Semi Condensed'; 
    font-weight: lighter;
}


/** Grid **/
main {
    display: grid;
    margin: 10.25rem 10.25rem;
    width: 69.25rem;
    grid-template-columns: 16rem 16rem 16rem 16rem;
    grid-template-rows: 17.5rem 16.8rem;
    column-gap:1.75rem;
    row-gap: 1.25rem;
    grid-template-areas:
        "box-1 box-1 box-2 box-5"
        "box-3 box-4 box-4 box-5";
}

/** Border, Image and Text adjusments **/
.profile img { 
    width: 2rem ;
    border: solid 1px rgb(201, 98, 196);
    border-radius: 3.12rem;
    margin-right: 1.5rem;
}

.box-1, .box-2, .box-3, .box-4, .box-5 {
    border-radius: 0.8rem;
    padding: 1.6rem;
}

main h1 {
    font-weight: 500;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 1.2rem 0;
}

.testimonial {
    opacity: .7;

    line-height: 1.2rem;
}

.verified {
    opacity: .5;
    font-size: 0.7rem;
}

.profile {
    display: flex;
    flex-direction: row;
}

/** TESTIMONIALS BOXES **/

/** BOX-1 **/
.box-1 {
    grid-area: box-1;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 23rem 0.2rem;
}

.box-1 img {  
    border: solid 2px hsl(263, 58%, 65%);
}


/** BOX-2 **/
.box-2 {
    grid-area: box-2;
    background-color:hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

.box-2 img {  
    border: solid 2px hsl(217, 19%, 35%);
}


/** BOX-3 **/
.box-3 {
    grid-area: box-3;
    background-color:hsl(0, 0%, 100%);
    color:hsl(217, 19%, 35%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.box-3 img {  
    border: none;
}


/** BOX-4 **/
.box-4 {
    grid-area: box-4;
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.box-4 img {  
    border: solid 2px hsl(263, 57%, 50%);
}


/** BOX-5 **/
.box-5 {
    grid-area: box-5;
    background-color:hsl(0, 0%, 100%);
    color:hsl(217, 19%, 35%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.box-5 img {  
    border: none;
}


/** Mobile style **/
@media (min-width: 375px) and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        width: 20.2rem;
        margin: 2rem;
    }

    /** BOX-1 **/
    .box-1 {
        background-position: 11.5rem 0.2rem;
}

}


/** Mobile style **/
@media (min-width: 768px) and (max-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        width: 42.2rem;
        margin: 2rem;
    }

    /** BOX-1 **/
    .box-1 {
        background-position: 32.5rem 0.2rem;
}

}